.card-title:hover {
    color: blue;
    font-weight: 600;
}


#customContainer th {
    text-align:left;
}

    #customContainer .card-header {
        cursor: pointer;
        padding: 5px;
    }

#customContainer p:nth-child(even) {
    background-color: #eceeef
}
#customContainer p {
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
}

#outerFrame {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -25px;
    margin-bottom: 25px;
}

#profileHeader a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

    #profileHeader a:first-child, #profileHeader a:nth-child(2) {
        float: left;
        margin-left: 10px;
    }

#userProfile img {
    max-width: 125px;
    height: auto;
    filter: drop-shadow(5px 5px 5px grey);
    float: left;
    margin-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#newsHeader:after, #forSaleHeader:after, #photoHeader:after, #hoursHeader:after, #eventsHeader:after, #emailHeader:after {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f056";
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

#newsHeader.collapsed:after, #forSaleHeader.collapsed:after, #photoHeader.collapsed:after, #hoursHeader.collapsed:after, #eventsHeader.collapsed:after, #emailHeader.collapsed:after {
    content: "\f055";
}

#newsHeader:hover, #forSaleHeader:hover, #photoHeader:hover, #hoursHeader:hover, #eventsHeader:hover,, #emailHeader:hover, {
    background-color: lightsteelblue;
    color: white;
}

#newsHeader, #forSaleHeader, #photoHeader, #hoursHeader, #profileHeader, #eventsHeader,#emailHeader {
    background-color: #999999;
    color: white;
    padding: 5px;
}

    #newsHeader span:first-child, #forSaleHeader span:first-child, #photoHeader span:first-child, #hoursHeader span:first-child, #eventsHeader span:first-child, #emailHeader span:first-child {
        margin-right: 10px;
        margin-left: 10px;
    }

#recentEmails .card-header, #recentforSale .card-header, #recentPosts .card-header, #recentNews .card-header {
    display: none
}

#recentEmails .card-body span, #recentforSale .card-body span, #recentPosts .card-body span, #recentNews .card-body span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 15px;
    display: block;
}

#recentEmails .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f2b7";
    padding-right: 10px;
    padding-left: 10px;
}

#recentEmails .card-header.collapsed:before {
    content: "\f003";
}

#recentforSale .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f291";
    padding-right: 10px;
    padding-left: 10px;
}

#recentforSale .card-header.collapsed:before {
    content: "\f07a";
}

#recentPosts .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f27b";
    padding-right: 10px;
    padding-left: 10px;
}

#recentPosts .card-header.collapsed:before {
    content: "\f0e6";
}

#recentPosts .card-body a:nth-child(2) {
    margin-left: 15px;
}

#recentNews .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f278";
    padding-right: 10px;
    padding-left: 10px;
}

#recentNews .card-header.collapsed:before {
    content: "\f1ea";
}

#recentDocuments .card-body span a, #recentNewsLetters .card-body span a {
    display: block;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}


#recentDocuments span a:nth-child(even), #recentNewsLetters span a:nth-child(even) {
    background-color: #eceeef
}

#recentDocuments .card-header:before, #recentNewsLetters .card-header:before, #recentPhotos .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f115";
    padding-right: 10px;
    padding-left: 10px;
}

#recentDocuments .card-header.collapsed:before, #recentNewsLetters .card-header.collapsed:before, #recentPhotos .card-header.collapsed:before {
    content: "\f114";
}

#flyers span, #newsletters span {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    display: block;
}

#photoList img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 2px;
    padding-top: 10px;
    padding-left: 2px;
    filter: drop-shadow(5px 5px 5px grey);
}

#card-hours p {
    padding-left: 15px;
    margin-bottom: 5px
}

@media screen and (max-width: 565px) and (min-width: 300px) {
    .emailCol {
        display: none;
    }
}
