.clsHeader {
    display: none !important;
}


#customContainer .card-header {
    cursor: pointer;
    padding: 5px;
}

#customContainer p:nth-child(even) {
    background-color: #eceeef
}

#customContainer p {
    padding: 5px;
    margin: 0px;
}

#outerFrame {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -25px;
    margin-bottom: 25px;
}
#profileHeader {vertical-align:middle}

#profileHeader a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

    #profileHeader a:first-child {
        float: left;
        margin-left: 5px;
        text-decoration: none !important;
        margin-top: 5px;
    }
    #profileHeader a:nth-child(2) {
        float: left;
        margin-left: 5px;
        text-decoration: none !important;
        margin-top: 0px;
    }

#profileBody img {
    max-width: 125px;
    height: auto;
    filter: drop-shadow(5px 5px 5px grey);
    float: left;
    margin-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#newsHeader:after, #forSaleHeader:after, #photoHeader:after, #contactHeader:after, #eventsHeader:after, #emailHeader:after, #groupsHeader:after, #fileHeader:after {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f056";
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

#newsHeader.collapsed:after, #forSaleHeader.collapsed:after, #contactHeader.collapsed:after, #photoHeader.collapsed:after, #eventsHeader.collapsed:after, #emailHeader.collapsed:after, #groupsHeader.collapsed:after, #fileHeader.collapsed:after {
    content: "\f055";
}

#newsHeader:hover, #forSaleHeader:hover, #photoHeader:hover, #contactHeader:hover, #eventsHeader:hover, #emailHeader:hover, #groupsHeader:hover, #fileHeader:hover {
    background-color: lightsteelblue;
    color: white;
}

#newsHeader, #forSaleHeader, #photoHeader, #contactHeader, #profileHeader, #eventsHeader, #emailHeader, #groupsHeader, #fileHeader {
    background-color: #999999;
    color: white;
    padding: 5px;
}

    #newsHeader span:first-child, #forSaleHeader span:first-child, #photoHeader span:first-child, #contactHeader span:first-child, #eventsHeader span:first-child, #emailHeader span:first-child, #groupsHeader span:first-child, #fileHeader span:first-child {
        margin-right: 10px;
        margin-left: 10px;
    }



#recentEmails .card-body span, #recentforSale .card-body span, #recentPosts .card-body span, #recentNews .card-body span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 15px;
    display: block;
}

#recentEmails .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f2b7";
    padding-right: 10px;
    padding-left: 10px;
}

#recentEmails .card-header.collapsed:before {
    content: "\f003";
}

#recentforSale .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f291";
    padding-right: 10px;
    padding-left: 10px;
}

#recentforSale .card-header.collapsed:before {
    content: "\f07a";
}

#recentPosts .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f27b";
    padding-right: 10px;
    padding-left: 10px;
}

#recentPosts .card-header.collapsed:before {
    content: "\f0e6";
}

#recentPosts .card-body a:nth-child(2) {
    margin-left: 15px;
}

#recentNews .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f278";
    padding-right: 10px;
    padding-left: 10px;
}

#recentNews .card-header.collapsed:before {
    content: "\f1ea";
}



#fileBody a:nth-child(even) {
    background-color: #eceeef
}

#recentDocuments .card-header:before, #recentNewsLetters .card-header:before, #recentPhotos .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f115";
    padding-right: 10px;
    padding-left: 10px;
}

#recentDocuments .card-header.collapsed:before, #recentNewsLetters .card-header.collapsed:before, #recentPhotos .card-header.collapsed:before {
    content: "\f114";
}

#fileBody a {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    display: block;
}

#photoBody {
    text-align: center
}

    #photoBody img {
        max-width: 100%;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        filter: drop-shadow(5px 5px 5px grey);
    }



@media screen and (max-width: 565px) and (min-width: 300px) {
    .hideFromApp {
        display: none;
    }
}

#contactBody > div {
    width: 100%;
    float: left;
    margin-left: 15px;
    margin-bottom: 2px;
}

#contactBody div > div:first-child {

    width: 28%;
    float: left;
}

#contactBody div > div:nth-child(2) {
 
    width: 35%;
    float: left;
}

#contactBody div > div:nth-child(3) {
    float: left;
}

#eventsBody > div {
    width: 100%;
    float: left;
    margin-left: 15px;
    margin-bottom: 2px;
}

#eventsBody div > div:first-child {
    width: 38%;
    float: left;
}

#eventsBody div > div:nth-child(2) {
    width: 35%;
    float: left;
}

#eventsBody div > div:nth-child(3) {
    width: 25%;
    float: left;
}

#appDialogBody {
    padding: 15px
}

#appDialog button {
    float: right !important;
}
#document {
    width: 100%;
    float: left;
}

    #document span {
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: 600;
        display: block;
    }

        #document span:nth-child(even) {
            background-color: #eceeef
        }

.formatRight {
    text-decoration: none !important;
    vertical-align: top !important;
    padding: 0px;
    margin: 0px;
}

.formatIcon {
    padding-right: 20px;
}
#loadIcon {
   width:100%;
   color:lightgray;
   vertical-align:middle
       
}