#customContainer .card-header {
    cursor: pointer;
    padding: 5px;
}

#outerFrame {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -50px;
    margin-bottom: 25px;
}

#profileHeader a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

    #profileHeader a:first-child {
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 10px;
    }
    #profileHeader a:nth-child(3) {
        float:right;
        padding-top: 5px;
        margin-left: 0px;
    }
    #profileHeader a:nth-child(4) {
        float: right;
        padding-top: 5px;
        margin-right: 10px;
    }
    #profileHeader a:nth-child(5) {
        float: right;
        padding-top: 5px;
        margin-right: 10px;
    }


#notificationHeader:after, #documentsHeader:after, #contactsHeader:after, #hoursHeader:after {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f056";
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

#notificationHeader.collapsed:after, #documentsHeader.collapsed:after, #contactsHeader.collapsed:after, #hoursHeader.collapsed:after {
    content: "\f055";
}

#notificationHeader:hover, #documentsHeader:hover, #contactsHeader:hover, #hoursHeader:hover {
    background-color: lightsteelblue;
    color: white;
}

#notificationHeader, #documentsHeader, #contactsHeader, #hoursHeader, #profileHeader {
    background-color: #999999;
    color: white;
    padding: 5px;
}

    #notificationHeader span:first-child, #documentsHeader span:first-child, #contactsHeader span:first-child, #hoursHeader span:first-child {
        margin-right: 10px;
        margin-left: 10px;
    }

#recentEmails .card-header, #recentforSale .card-header, #recentPosts .card-header, #recentNews .card-header {
    display: none
}

#recentEmails .card-body span, #recentforSale .card-body span, #recentPosts .card-body span, #recentNews .card-body span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 15px;
    display: block;
}

#recentEmails .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f2b7";
    padding-right: 10px;
    padding-left: 10px;
}

#recentEmails .card-header.collapsed:before {
    content: "\f003";
}

#recentforSale .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f291";
    padding-right: 10px;
    padding-left: 10px;
}

#recentforSale .card-header.collapsed:before {
    content: "\f07a";
}

#recentPosts .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f27b";
    padding-right: 10px;
    padding-left: 10px;
}

#recentPosts .card-header.collapsed:before {
    content: "\f0e6";
}

#recentPosts .card-body a:nth-child(2) {
    margin-left: 15px;
}

#recentNews .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f278";
    padding-right: 10px;
    padding-left: 10px;
}

#recentNews .card-header.collapsed:before {
    content: "\f1ea";
}

#recentDocuments .card-body span a, #recentNewsLetters .card-body span a {
    display: block;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}


#recentDocuments span a:nth-child(even), #recentNewsLetters span a:nth-child(even) {
    background-color: #eceeef
}

#recentDocuments .card-header:before, #recentNewsLetters .card-header:before, #recentPhotos .card-header:before {
    font-family: 'FontAwesome';
    font-size: 1.25em;
    content: "\f115";
    padding-right: 10px;
    padding-left: 10px;
}

#recentDocuments .card-header.collapsed:before, #recentNewsLetters .card-header.collapsed:before, #recentPhotos .card-header.collapsed:before {
    content: "\f114";
}

#userProfile img {
    height: 120px;
    filter: drop-shadow(5px 5px 5px grey);
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#flyers span, #newsletters span {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    display: block;
}

#photoList {
    text-align: center;
    vertical-align: middle;
    font-size: .75em;
}

    #photoList div {
        width: 33%;
        float: left;
        filter: drop-shadow(5px 5px 5px grey);
    }

    #photoList img {
        max-width: 100%;
        max-height: 100%;
        padding-right: 2px;
        padding-top: 10px;
        padding-left: 2px
    }

#card-hours p {
    padding-left: 15px;
    margin-bottom: 5px
}

@media screen and (max-width: 565px) and (min-width: 300px) {
    .emailCol {
        display: none;
    }
}
