#document {

    float: left;
}

    #document span {
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: 600;
        display: block;
    }

        #document span:nth-child(odd) {
            background-color: #eceeef
        }

.formatRight {
    text-decoration: none !important;
    vertical-align: top !important;
    padding: 0px;
    margin: 0px;
}

.formatIcon {
    padding-right: 20px;
}
