#customContainer p {
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
}

    #customContainer p:nth-child(even) {
        background-color: #eceeef
    }

#customContainer span {
    float: right;
}
