
#profileImage {
    width: 110px;
    float: left !important;
    margin-right: 20px;
    box-shadow: 5px 8px 8px 2px grey;
    height: auto
}

.recentFileLink {
    text-decoration: none
}

#appDialogFooter div {
    width: auto !important
}

#appDialogFooter tr {
    width: auto !important
}

/*.clsHeader {
    display: none !important;
}

#woaContainer {
    margin-bottom: 20px !important;
}

.notifyHeader {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #494949;
    width: 100%;
    float: left;
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#woaHeaderRow {
    width: 100%;
    float: left; 
    margin-bottom: 15px;
}

    .headerLinks {
        float: right;
        vertical-align:middle !important;
        text-decoration:none !important;
        line-height:normal !important;
    }
    #woaHeaderRow p {
        padding: 0px;
        margin: 0px;
    }

    #woaHeaderRow img {
        width: 110px;
        float: left !important;
        margin-right: 20px;
        box-shadow: 5px 8px 8px 2px grey;
    }

#recentEmails, #recentFiles, #recentPosts {
    margin-bottom: 10px;
    width: 100%;
}

    #recentEmails span:before {
        font-family: 'FontAwesome';
        font-size: 1.25em;
        content: "\f003";
        padding-right: 10px;
    }

    #recentPosts span:before {
        font-family: 'FontAwesome';
        font-size: 1.25em;
        content: "\f0e6";
        padding-right: 10px;
    }

    #recentFiles span:first-child:before {
        font-family: 'FontAwesome';
        font-size: 1.25em;
        content: "\f0c5";
        padding-right: 10px;
    }

    #recentFiles span {
        display: block;
    }

        #recentFiles span:nth-of-type(2n) {
            float: right;
        }

    #recentFiles hr {
        height: 2px;
        margin: 3px
    }

#officeContacts > div {
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-bottom: 2px;
}

#officeContacts div > div:first-child {
    width: 28%;
    float: left;
}

#officeContacts div > div:nth-child(2) {
    width: 35%;
    float: left;
}

#officeContacts div > div:nth-child(3) {
    float: left;
}
#documents {
    width: 100% !important;
    float: left;
}

    #documents span {
        
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: 600;
        display: block;
    }

        #documents span:nth-child(odd) {
            background-color: #eceeef
        }
.waitClass {
    width: 100%;
    color: lightgray;
    display: block;
}*/
