################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/resourcecenter/28118/resource-center.html
/scripts/JavaScript.js
