################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/index.html
/.gitignore
/scripts/JavaScript.js
/HTMLPage1.html
/homepage/28118/resident-home-page.html
/Member/28118~10518615.html
