################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/resourcecenter/28118/resource-center.html
/scripts/JavaScript.js
/.gitignore
/Member/28118~10518615.html
/homepage/28118/resident-home-page.html
/Discussion/28118~8030.html
/Discussion/28118~8364.html
/gallery_content.html
/.vs/woa/FileContentIndex/e79d5995-f08c-4bfd-a777-c42fdc6aa1ba.vsidx
/.vs/woa/FileContentIndex/28a8f41d-caa2-4b54-9f8c-5c0e6243254e.vsidx
/.vs/woa/FileContentIndex/28a8f41d-caa2-4b54-9f8c-5c0e6243254e.vsidx
/.vs/woa/FileContentIndex/5f721933-a396-4cff-be8a-4901164ac149.vsidx
/.vs/woa/FileContentIndex/0a93e304-ad8a-428c-b2db-cfa85de8a379.vsidx
*.vsidx
